:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

    font-size: 18px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;
    
}

img, picture, video, canvas, svg {
    display: block;
    /* max-width: 100%; */
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 5rem;
}

.container {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas:
    "card1 card2 card2 card3"
    "card1 card2 card2 card3"
    "card1 card5 card7 card3"
    "card4 card5 card7 card3"
    "card4 card6 card8 card8"
    "card4 card6 card8 card8"
;
    gap: 1.5rem;
}

.container img {
    width: 150px;
}

.card {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
    overflow: hidden;

    box-shadow:
        0 2px 4px rgba(17,12,46,0.05),
        0 8px 16px rgba(17,12,46,0.06),
        0 20px 40px rgba(17,12,46,0.04);
}

.card-1,
.card-4,
.card-5,
.card-7 {
    display: flex;
    align-items: baseline;
}

.card-1 {
    grid-area: card1;
    background-color: var(--Yellow-100);
    gap: 1rem;
}

.card-2 {
    grid-area: card2;
    background-color: var(--Purple-500);
    color: var(--White);
    padding: 5rem;
    text-align: center;
    gap: 0.8rem;
}

.card-3 {
    grid-area: card3;
    background-color: var(--Purple-100);
    gap: 1rem;

    img {
        width: 300px;
        margin-right: -160px;
    }

    p {
        font-size: 1rem;
    }
}

.card-4 {
    grid-area: card4;
    background-color: var(--Yellow-500);
    align-items: flex-start;
    justify-content: space-between;

    img {
        width: 200px;
    }
}

.card-5 {
    grid-area: card5;
    background-color: var(--White);
    gap: 1rem;

    img {
        width: 283px;
    }
}

.card-6 {
   grid-area: card6;
    background-color: var(--White);
    gap: 1.6rem;
    text-align: left;

    p {
        font-size: 1rem;
    }
}

.card-7 {
    grid-area: card7;
    gap: 1rem;
    background-color: var(--Yellow-500);
    align-items: center;

    img {
        width: 200px;
        
    }
}

.card-8 {
    grid-area: card8;
    background-color: var(--Purple-500);
    color: var(--White);
    flex-direction: row;
    gap: 1rem;
    text-align: left;

    img {
        width: 200px;
    }
}

#dif-color {
    color: var(--Purple-500);
    font-style: italic;
}

#ten-times {
    color: var(--Yellow-500);
}

#big-num {
    font-size: 2.8rem;
    font-weight: 600;
}

#fast {
    font-style: italic;
}
